{% extends 'base.html' %}
{% load static %}


{% block body_block %}

    <div class="content-inner">

        <div class="content-inner-header">
            <h2>{{ user.username }} - My MSPs</h2>

            <div class="tag">{{ user_badge }}</div>
        </div><!-- .content-inner-header -->

        <div class="content-inner-content">

            <div class="row my-msp-vote">
                <div class="large-12 medium-12 small-12 columns">
                    {% for msp, match in user_msps_match %}
                        <div class="large-3 medium-3 small-6 columns">
                            <div class="msp-wrap">
                                <h6>{{ msp.firstname }} {{ msp.lastname }}</h6>
                                <img src="{% static "img/msps/" %}{{ msp.firstname }}{{ msp.lastname }}.jpg" />

                                <div class="match">
                                    <div style="width: {{ match }}%"></div>
                                    <span>{{ match }}% match</span>
                                </div>
                            </div>
                        </div><!-- one particular msp -->
                    {% endfor %}
                </div>
            </div><!-- row holding my msps votes -->

        </div><!-- .content-inner-content -->
    </div><!-- .content-inner -->

{% endblock %}


{% block body_below_block %}

    <div class="row bottom-containers logged-in">
        <div class="large-6 medium-6 small-12 columns">
            <div class="row">
                <div class="large-11 medium-11 small-12 latest-laws-wrapper columns">
                    <div class="latest-laws-header">Latest laws</div>
                    <div class="latest-laws-wrapper-inner">
                        {% for law, law_excerpt in latest_laws %}

                            <div class="latest-law">
                            <a href="{% url "law" law.name %}">
                                <h3>{{ law.name }} &nbsp;&nbsp;<span> {{ law.topic.name }}</span></h3>
                                <p>{{ law_excerpt }}...</p>
                            </a>
                            </div><!-- .latest-law -->

                        {% endfor %}
                    </div><!-- .latest-laws-wrapper-inner -->
                </div><!-- .latest-laws-wrapper -->
            </div><!-- row containing latest laws -->
        </div><!-- column containing latest laws -->
        <div class="large-6 medium-6 small-12 columns">
            <div class="row">
                <div class="large-offset-1 large-11 medium-offset-1 medium-11 small-12 latest-laws-wrapper columns">
                    <div class="latest-laws-header">Latest comments</div>
                    <div class="latest-laws-wrapper-inner">
                        {% for comment, comment_excerpt in latest_comments %}
                            <div class="latest-law">
                            <a href="{% url "law" comment.law %}">
                                <h3> {{ comment.user.username }} on &nbsp;<span>{{ comment.law }}</span> &nbsp;at
                                    &nbsp;<span>{{ comment.time|date:"d/m/Y - H.i" }}</span></h3>
                                <p>{{ comment_excerpt }}...</p>
                            </a>
                            </div><!-- .latest-comment -->
                        {% endfor %}
                    </div>
                    <!-- .latest-comment-wrapper-inner -->
                </div>
                <!-- .latest-comment-wrapper -->
            </div><!-- row containing latest comments -->
        </div><!-- column containing latest comments -->
    </div><!-- row containing latest laws and latest comments -->

{% endblock %}