{% extends 'base.html' %}
{% load static %}



{% block body_block %}

    <div class="row main-content">

        <div class="breadcrumbs-wrapper">
            <li><a href="#">Home</a></li>
            <li><a href="laws.html">Laws</a></li>
            <li>{{ law.name }}</li>
        </div><!-- .breadcrumbs-wrapper -->

        <div class="index-search-wrapper search">
            <input type="text" name="search" placeholder="Search for Laws, MSPs, ..." />
            <input type="submit" name="submit-search" value="" />
        </div><!-- .search -->

        <div class="content-inner">

            <div class="content-inner-header">
                <h2>{{ law.name }}</h2>
                <div class="tag">{{ law.topic }}</div>
                <div class="tag upcoming">Upcoming</div>

                <div class="right-side">
                    <div class="against number">30</div>
                    <div class="approve number">20</div>
                </div><!-- .right -->
            </div><!-- .content-inner-header -->

            <div class="content-inner-content">

                <div class="row">
                    <div class="large-6 medium-6 small-12 columns">
                        <p>{{ law.text }}</p>
                    </div><!-- column holding a description of a law -->

                    <div class="large-5 medium-5 small-12 columns">
                        <div class="row vote-table">
                            <div class="large-4 medium-4 small-12 columns">
                                <div class="col">
                                    <h4>Your vote</h4>
                                    <div class="your-vote no"></div>
                                </div><!-- col -->
                            </div>
                            <div class="large-4 medium-4 small-12 columns">
                                <div class="col">
                                    <h4>Date</h4>
                                    <div>26/2/2015</div>
                                </div><!-- col -->
                            </div>
                            <div class="large-4 medium-4 small-12 columns">
                                <div class="col">
                                    <h4>Result</h4>
                                    <div>{{ law_result }}</div>
                                </div><!-- col -->
                            </div>
                        </div><!-- row holding a table -->
                    </div><!-- column holding a table -->
                </div><!-- row holding a description and a table -->

                <div class="row my-msp-vote">
                    <div class="large-12 medium-12 small-12 columns">
                        <div class="large-3 medium-3 small-6 columns">
                            <div class="msp-wrap">
                                <div class="vote"></div>
                                <h6>Paris Bilton</h6>
                                <img src="img/arnold.jpg" />
                            </div>
                        </div><!-- one particular msp -->
                        <div class="large-3 medium-3 small-6 columns">
                            <div class="msp-wrap">
                                <div class="vote no"></div>
                                <h6>Paris Bilton</h6>
                                <img src="img/arnold.jpg" />
                            </div>
                        </div><!-- one particular msp -->
                        <div class="large-3 medium-3 small-6 columns">
                            <div class="msp-wrap">
                                <div class="vote yes"></div>
                                <h6>Paris Bilton</h6>
                                <img src="img/arnold.jpg" />
                            </div>
                        </div><!-- one particular msp -->
                        <div class="large-3 medium-3 small-6 columns">
                            <div class="msp-wrap">
                                <div class="vote"></div>
                                <h6>Paris Bilton</h6>
                                <img src="img/arnold.jpg" />
                            </div>
                        </div><!-- one particular msp -->
                    </div>
                </div><!-- row holding my msps votes -->

            </div><!-- .content-inner-content -->
        </div><!-- .content-inner -->

    </div><!-- row containing main content with white transparent background -->

    <div class="row">
        <div class="large-12 small-12 columns comments">
            <div class="comments-header">
                <div class="left">
                    Comments &nbsp;<span>22</span>
                </div>
                <div class="right">Commeting as Leif Bacardi<!--<a href="#">Log in</a> to comment--></div>
            </div>
            <div class="textarea">
                <textarea name="comment-text" placeholder="Add your message here..."></textarea>
                <input type="submit" name="send-comment" value="" />
            </div><!-- .textarea -->
            <div class="latest-laws-wrapper-inner">
                <div class="latest-law">
                    <h3>Karl Marks &nbsp;&nbsp;<span>26/2/2015 (14:30)</span></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus est luctus consectetur ultricies. Vivamus quis dui eu est blandit auctor. Vivamus libero erat, convallis a egestas a, sollicitudin id odio. Nulla vitae mauris eu dolor vestibulum rutrum. </p>
                </div><!-- .latest-law -->
                <div class="latest-law">
                    <h3>Carol Steward &nbsp;&nbsp;<span>26/2/2015 (14:25)</span></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus est luctus consectetur ultricies. Vivamus quis dui eu est blandit auctor. Vivamus libero erat, convallis a egestas a, sollicitudin id odio. Nulla vitae mauris eu dolor vestibulum rutrum. </p>
                </div><!-- .latest-law -->
                <div class="latest-law">
                    <h3>Mike Tense &nbsp;&nbsp;<span>26/2/2015 (14:20)</span></h3>
                    <p>Short description of the law to create the atmosphere for the user and get him into the context...</p>
                </div><!-- .latest-law -->
                <div class="latest-law">
                    <h3>Carol Steward &nbsp;&nbsp;<span>26/2/2015 (14:25)</span></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus est luctus consectetur ultricies. Vivamus quis dui eu est blandit auctor.
                        Vivamus libero erat, convallis a egestas a, sollicitudin id odio. Nulla vitae mauris eu dolor vestibulum rutrum. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Sed maximus est luctus consectetur ultricies. Vivamus quis dui eu est blandit auctor. Vivamus libero erat, convallis a egestas a,
                        sollicitudin id odio. Nulla vitae mauris eu dolor vestibulum rutrum. </p>
                </div><!-- .latest-law -->
            </div><!-- .latest-laws-wrapper-inner -->
        </div>
    </div><!-- row containing discussion -->

{% endblock %}