{% extends 'base.html' %}
{% load static %}


{% block breadcrumbs_block %}

    <li>Laws</li>

{% endblock %}


{% block body_block %}

    <table class="laws-table">
        {% if laws %}

            <tr>
                <th>Name of the law</th>
                <th class="hide-for-small">Topic</th>
                <th>Date</th>
                <th class="hide-for-small">Result</th>
            </tr>

            {% for law in laws %}

                <tr data-href="{% url 'law' law.name %}">
                    <td>{{ law.name }}</td>
                    <td class="hide-for-small">{{ law.topic }}</td>
                    <td>{{ law.date }}</td>
                    <td class="hide-for-small">
                        {% if law.result == '1' %}
                            Carried
                        {% else %}
                            Defeated
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}

        {% endif %}
    </table>

{% endblock %}