{% extends 'base.html' %}
{% load static %}


{% block breadcrumbs_block %}
    <li><a href="{% url 'msps' %}">MSPs</a></li>
    <li>{{ msp.firstname }} {{ msp.lastname }}</li>
{% endblock %}


{% block body_block %}

    <div class="content-inner">

        <div class="content-inner-header">

            <h2>{{ msp.firstname }} {{ msp.lastname }}</h2>
            {% if is_my_msp %}<div class="tag msp-page">My MSP</div>{% endif %}

        </div><!-- .content-inner-header -->

        <div class="content-inner-content">

            <div class="row">
                <div class="large-3 medium-3 small-12 columns">
                    <div class="msp-wrap msp-page">
                        <img class="msp-page-img" src="{% static "img/msps/" %}{{ msp.firstname }}{{ msp.lastname }}.jpg">
                        {% if is_my_msp %}
                        <div class="match">
                            <!-- we don't wanna change the style immediately, but afterwards using
                                jquery to animate the match -->
                            <div data-style="width: {{ match }}%"></div>
                            <span>{{ match }}% match</span>
                        </div><!-- match -->
                        {% endif %}
                    </div><!-- msp-wrap -->
                </div><!-- column holding a description of a law -->

                <div class="large-8 medium-8 small-12 columns">
                    <div class="row vote-table">
                        <div class="large-4 medium-4 small-12 columns">
                            <div class="col">
                                <h4>Represents</h4>
                                <div>{{ msp.constituency }}</div>
                            </div><!-- col -->
                        </div>
                        <div class="large-4 medium-4 small-12 columns">
                            <div class="col">
                                <h4>Member of</h4>
                                <div>{{ msp.party }}</div>
                            </div><!-- col -->
                        </div>
                        <!-- leave it here for future use, not in version 1 -->
                        <!--<div class="large-3 medium-3 small-12 columns">
                            <div class="col">
                                <h4>Position held</h4>
                                {% if msp_positions %}
                                    <div>
                                        {% for pos in msp_positions %}
                                            {{ pos }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <div>None</div>
                                {% endif %}
                            </div>
                        </div>-->
                        <div class="large-4 medium-4 small-12 columns">
                            <div class="col">
                                <h4>Present</h4>
                                <div>{{ msp.presence }}</div>
                            </div><!-- col -->
                        </div>
                    </div><!-- row holding a table -->
                </div><!-- column holding a table -->
            </div><!-- row holding a description and a table -->

        </div><!-- .content-inner-content -->
    </div><!-- .content-inner -->

{% endblock %}


{% block body_below_block %}

    <div class="row">
        <div class="large-12 small-12 columns comments">
            <div class="comments-header">
                <div class="left">
                    Voting activity
                </div>

            </div>
            <div class="latest-laws-wrapper-inner" id="comments-wrapper">
                {% if msp_laws %}
                    {% for vote, excerpt in msp_laws %}

                        <div class="latest-law msp-page">
                            <a href="{% url 'law' vote.law.name %}">
                                <h3>{{ vote.law.name }} &nbsp;&nbsp;<span>{{ vote.law.topic }}</span>&nbsp;&nbsp;
                                    {% if vote.vote == "1" %}<span class="msp-vote for">For</span>
                                    {% elif vote.vote == "2" %}<span class="msp-vote against">Against</span>
                                    {% elif vote.vote == "3" %}<span class="msp-vote abstain">Abstain</span>
                                    {% else %}<span class="msp-vote nothing">No vote</span>
                                    {% endif %}
                                </h3>

                                <p>{{ excerpt }}...</p>
                            </a>
                        </div><!-- .latest-law -->

                    {% endfor %}
                {% else %}
                    <div class="latest-law no-comments">
                        <p>No laws!</p>
                    </div><!-- .latest-law -->
                {% endif %}
            </div><!-- .latest-laws-wrapper-inner -->
        </div>
    </div><!-- row containing discussion -->

{% endblock %}