{% extends 'base.html' %}
{% load staticfiles %}



{% block body_block %}

    <div class="row main-content">

        <div class="breadcrumbs-wrapper">
            <li><a href="#">Home</a></li>
            <!--            <li>Laws</li> -->
        </div><!-- .breadcrumbs-wrapper -->

        <div class="index-search-wrapper search">
            <input type="text" name="search" placeholder="Search for Laws, MSPs, ..." />
            <input type="submit" name="submit-search" value="" />
        </div><!-- .search -->

        <div class="content-inner">

            <table class="laws-table">
                {% if msps %}

                    <tr>
                        <th>Name of the law</th>
                        <th>Topic</th>
                        <th>Date</th>
                        <th>Result</th>
                    </tr>

                    {% for msp in msps %}

                        <tr data-href="">
                            <td><img src="../../static/{{ msp.img }}" alt="{{ msp.firstname }} {{ msp.lastname }}"/>
                            </td>
                            <td>{{ msp.firstname }} {{ msp.lastname }}</td>
                            <td>{{ msp.constituency }}</td>
                            <td>{{ msp.party }}</td>
                        </tr>

                    {% endfor %}

                {% endif %}
            </table>

        </div><!-- .content-inner -->

    </div><!-- row containing main content with white transparent background -->

{% endblock %}