{% extends 'base.html' %}
{% load staticfiles %}



{% block body_block %}

    <div class="row main-content">

        <div class="breadcrumbs-wrapper">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>MSPs</li>
        </div><!-- .breadcrumbs-wrapper -->

        <div class="index-search-wrapper search">
            <input type="text" name="search" placeholder="Search for Laws, MSPs, ..." />
            <input type="submit" name="submit-search" value="" />
        </div><!-- .search -->


            <table class="laws-table">
                {% if msps %}

                    <tr>
                        <th>MSP</th>
                        <th>Name</th>
                        <th class="hide-for-small">Constituency</th>
                        <th class="hide-for-small">Party</th>
                    </tr>

                    {% for msp in msps %}

                        <tr data-href="">
                            <td><img width="50%" src="{% static "img/msps/" %}{{ msp.firstname }}{{ msp.lastname }}.jpg""/>
                            </td>
                            <td>{{ msp.firstname }} {{ msp.lastname }}</td>
                            <td class="hide-for-small">{{ msp.constituency }}</td>
                            <td class="hide-for-small">{{ msp.party }}</td>
                        </tr>

                    {% endfor %}

                {% endif %}
            </table>


    </div><!-- row containing main content with white transparent background -->

{% endblock %}