{% extends 'base.html' %}
{% load static %}

{% block body_block %}

        <div><h1>Search</h1></div>

            <form method="post" action="{% url 'search' %}">
                {% csrf_token %}
                <!-- Display the search form elements here -->
                <input type="text" name="q" id="id_q"/>
                <input type="submit" value="Submit"/>
                <br />
            </form>

            <div class="panel">
               <p>You searched for "{{ query_string }}" and the results are listed below.</p>

                {% for result in search_results %}
                <li> {{ result.text }}</li>
                {%  endfor %}

                Cheers and enjoy!
            </div>

{% endblock %}
