<!DOCTYPE html>

{% load static %}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>REPRESENT ME</title>
    <link rel="stylesheet" href="{% static "css/foundation.min.css" %}" type="text/css" media="screen" />
    <script src="js/vendor/modernizr.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "css/style640-1024" %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "css/style640.css" %}" type="text/css" media="screen" />
</head>

<!-- default is class base-bg, in index we remove that -->
<body {% block body_bg %} class="base-bg"{% endblock %}>
    <!-- In case it is index, there need to be one more div -->
    {% block bg_index %}{% endblock %}

    <div class="row">

        <div class="header">
            <a href="representME/index.html" id="logo">Represent me</a>

            <div class="menu-icon"></div>
            <ul class="menu">
                <li><a href="/laws/" class="link">Laws</a></li>
                <li><a href="/msps/" class="link">MSPs</a></li>
                <li><a href="/about/" class="link">About</a></li>
                <li>
                    <div class="login-link">Login</div>
                    <div class="login-form">
                        <input type="text" name="login" placeholder="Username or email" />
                        <input type="password" name="password" placeholder="Password" />
                        <input type="submit" name="submit-login" value="Log in" />
                    </div><!-- login-form -->
                </li>
            </ul><!-- .menu -->

        </div><!-- .header -->

    </div><!-- row containing header -->


    {%  block body_block %}{%  endblock %}


    <div class="footer">
        Copyright 2015 Boyd Orcs
    </div><!-- .footer -->


<script src="{% static "js/vendor/jquery.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>
<script src="{% static "js/foundation.min.js" %}"></script>
<script>
  $(document).foundation();
</script>
</body>
